# Folders to ignore
clips/
rus_subs/
./movies_master.sqlite
movies_master.sqlite
./rus.db
rus.db
subtitles_all.txt
./subtitles_all.txt
./title.episode.tsv
title.episode.tsv
title.basics.tsv.gz
./title.basics.tsv.gz
title.episode.tsv.gz
./title.episode.tsv.gz
rus_subs2
./rus_subs2
opensubs.db
./opensubs.db
./dbs
dbs
./*.db
*.db
*.gz
chroma_db
.env
.streamlit/secrets.toml
rutracker_cookies.json
*.pkl
# User Data & Databases
movies_master.sqlite
prompts_history.json
user_settings.json
rutracker_cookies.json
last_ai_model.json

# Folders
clips/
venv/
__pycache__/

# Environment and Binaries
.env
torrserver*
TorrServer*

# Generated Launchers
start.bat
start.sh
update.bat
update.sh