# Folders to ignore
clips/
rus_subs/
./movies_master.sqlite
movies_master.sqlite
./rus.db
rus.db
subtitles_all.txt
./subtitles_all.txt
./title.episode.tsv
title.episode.tsv
title.basics.tsv.gz
./title.basics.tsv.gz
title.episode.tsv.gz
./title.episode.tsv.gz
rus_subs2
./rus_subs2
opensubs.db
./opensubs.db
./dbs
dbs
./*.db
*.db
*.gz
